{include file="public/header" /}
<div class="pd-20 text-c">
	<div class="page-404 minWP">
		<p class="error-title"><i class="Hui-iconfont va-m" style="">&#xe6e0;</i><span class="va-m"> 提示信息</span></p>
	</div>
	<div class="">
		<div class="text-c">
                <div class="Huialert Huialert-error"><i class="icon-remove"></i>{$msg}</div>
		</div>
		<div class="mt-0 text-c">
			<a href="JavaScript:void(0);" class="btn btn-primary" onclick="history.go(-1)">返回</a>
		</div>
	</div>
</div>

{include file="public/footer" /}