<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <LINK rel="Bookmark" href="/favicon.ico" >
    <LINK rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src=__STATIC__js/lib/html5.js"></script>
    <script type="text/javascript" src="__STATIC__js/lib/respond.min.js"></script>
    <script type="text/javascript" src="__STATIC__lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="__STATIC__css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__skin/default/skin.css" rel="stylesheet" type="text/css" id="skin" />
    <link href="__STATIC__lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>H-ui.admin v2.3</title>
    <meta name="keywords" content="社区管理后台">
    <meta name="description" content="社区管理后台">

    <style>
        .pagination{margin-top:20px;float:right;}
        .pagination li{
            display: inline-block;border: 1px #ddd solid; padding: 6px 12px; font-size: 14px;margin-left: 2px;
        }
        .pagination .active{background-color: #428bca;color: #fff; margin: 10px 0}
        /* select{width:110px;height: 31px;margin: 0 5px;} */
    </style>
</head>