<script type="text/javascript" src="__STATIC__lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__STATIC__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__lib/Validform/5.3.2/Validform.min.js"></script>