{include file="public/header" /}
<link href="__STATIC__css/bootstrap-3.3.2.min.css" rel="stylesheet" type="text/css"/>
<link href="__STATIC__css/bootstrap-multiselect.css" rel="stylesheet" type="text/css"/>
<body>
<div class="pd-20">
    <form action="{:url('admin/position/setAd')}" method="post" class="form form-horizontal" id="form-add">
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>sdk：</label>
            <div class="formControls col-5">
                <select class="select-box" name="sdk_id">
                    <option value="0">请选择</option>
                    {volist name="sdk_list" id="sdk"}
                    <option value="{$sdk.id}">{$sdk.title}</option>
                    {/volist}
                </select>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>广告类型：</label>
            <div class="formControls col-5">
                <select class="select-box" name="position_id" onchange="getAdList(this.value)">
                    <option value="0">请选择</option>
                    {volist name="position_list" id="position"}
                    <option value="{$position.id}">{$position.title}</option>
                    {/volist}
                </select>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">广告包名:</label>
            <div class="formControls col-5">
                <input name="adpackagename" class="input-text" type="text"/>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>appid:</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" name="appid" />
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>adid:</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" name="adid" />
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>是否debug:</label>
            <div class="formControls col-5">
                <label>否</label>
                <input name="is_debug" type="radio" value="0" checked="checked"/>
                <label>是</label>
                <input name="is_debug" type="radio" value="1"/>
            </div>
            <div class="col-4"></div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input type="hidden" name="id" value="{$id}"/>
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__js/bootstrap-3.3.2.min.js"></script>
<script type="text/javascript" src="__STATIC__js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    var url = "{$url}";
    $("#form-add").Validform({
        tiptype: 2,
        callback: function (form) {
            $.ajax({
                type: "POST",
                url: url,
                data: $("#form-add").serializeArray(),
                dataType: "json",
                success: function (obj) {
                    if (obj.code == 200) {
                        /*
                         var index = parent.layer.getFrameIndex(window.name);
                         parent.$('.btn-refresh').click();
                         parent.layer.close(index);
                         */
                        parent.location.reload(true);
                    } else {
                        alert(obj.msg);
                    }

                }
            });
            return false;
        }
    });

    var position_id = $("select[name='position_id']").val();
    getAdList(position_id);
    function getAdList(position_id) {
        $.ajax({
            type: "POST",
            url: "{:url('admin/app/getAdList')}",
            data: {"position_id": position_id},
            dataType: "json",
            success: function (obj) {
                if (obj.code == 200) {
                    var datas = obj.data;
                    var html = '';
                    for (var i = 0; i < datas.length; i++) {
                        html += '<option value="' + datas[i]['id'] + '">' + datas[i]['title'] + '</option>';
                    }
                    $("#ad_select").html(html);


                }
            }
        });
    }
</script>
</body>
</html>