<div class="row cl">
    <label class="form-label col-3">
        {eq name="required" value="true"}
            <span class="c-red">*</span>
        {/eq}
        {$title|default=""}
    </label>

    <div class="formControls col-5">
        <span class="select-box" style="width:150px;">
            <select class="select" name="{$name}" id="{$name}" size="1">
            {foreach name="options" item="vo" key="skey"}
                <option value="{$skey}" {if condition="$skey == $defaultValue"} selected="selected" {/if}>{$vo}</option>
            {/foreach}
            </select>
        </span>
    </div>
</div>